---
platform: linux

image_resource:
  type: docker-image
  source: {repository: smatyukevich/docker-cfbosh}

inputs:
  - name: pcf-pipelines
  - name: app 

run:
  path: pcf-pipelines/tasks/deploy-app/task.sh
